.App{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  height: 5rem;
  box-shadow: 0px 5px rgb(226, 223, 223);
}

.filter{
  display: flex;

}

.container{
  width: 88rem;
  height: 100vh;
  margin-left: 10rem;
}

ul{
  display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0rem;
}

a{
  text-decoration: none;
}

h4{
  width: 12rem;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  display: flex;
    flex-direction: column;
    height: 18rem;
    width: 14rem;
    /* justify-content: space-between; */
    margin-top: 5rem;
    margin-right: 2.7rem;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5%;
    box-shadow: 0px 3px grey, 0em 0 0.9em grey;
}

img{
  height: 9rem;
    width: 11rem;
    border: 1px solid;
    border-radius: 6%;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.lower{
  display: flex;
    flex-direction: column;
    width: 14.5rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.price{
  display: flex;
  justify-content: center;
  padding-right: 0rem;
}

.name{
  padding-left: 2rem;
}
