.App{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  height: 5rem;
  box-shadow: 0px 5px rgb(226, 223, 223);
}

.filter{
  display: flex;

}

.container{
  width: 88rem;
  height: 100vh;
  margin-left: 10rem;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

h4{
  width: 12rem;
}

button{
  display: flex;
  height: 3rem;
  /* justify-content: center; */
  width: 9rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 21%;
}
